/* Structure */

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 80vw;
  height: 100vh;
  margin-left: 25vw;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overlay {
  vertical-align: text-top;
}
.inst {
  color: black;
  position: absolute;
  margin-left: -9em;
  margin-top: -3.8em;
  font-size: 1em;
  font-weight: 600;
}
.insth .inst2 {
  margin-top: -15em;
}
.inst2 {
  color: black;
  position: absolute;
  margin-left: 5vw;
  font-size: 1.5em;
  font-weight: 500 !important;
  rotate: 45deg;
  margin-top: 0.2em;
  font-weight: 100;
}
.insth {
  display: none !important;
}
.insth.arrow {
  margin-left: -2.3em !important;
}
.insth.inst {
  margin-left: -10em !important;
}
.arrow {
  position: absolute;
  left: 0vw;
  margin-top: -3.8em;
}

.note {
  opacity: 0.5;
  font-weight: 100 !important;
}
.rotate {
  rotate: 292.5deg;
}
.brackcont {
  display: flex;
  align-items: flex-start;
  vertical-align: text-top;
  height: 20em;
  margin-left: 48vw;
  position: absolute;
}
.bracket {
  color: black;
  margin-top: -0.2em;
  font-size: 10em;
  font-weight: 100;
}
.abs {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 5;
  cursor: pointer;
}

#overlay h3 {
  margin: 0em;
  font-weight: 700;
  font-size: calc(3vw + 3vh);
  text-align: center;
  color: #1d1a05;
}
#overlay p,
#overlay h6 {
  margin-top: 1vh !important;
  font-weight: 300;
  font-size: calc(1vw + 1vh);
  text-align: center;
  color: #1d1a05;
}
#overlay p {
  margin: 0em;
  margin-top: calc(3vw + 3vh);
  font-family: monospace;
  font-style: italic;
}
#overlay b {
  margin: 0em;
  font-size: calc(3vw + 3vh);
  font-weight: 1000;
  color: #ca3c25;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.col {
  position: relative;
  display: block;
}

/* Auto complete */

.autocomplete {
  position: relative;
  display: inline-flexbox;
  width: 50vw;
}
input {
  border: 3px solid #d64137;
  background-color: #fff;
  color: #d64137;
  font-size: 16px;
}
input[type="text"] {
  background-color: #fff;
  color: #d64137;
  width: 95%;
  height: 2rem;
  outline: none;
  transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.completehall {
  border-color: #1d1a05;
  color: #1d1a05 !important;
}
.autocomplete-items {
  min-width: 50vw;
  max-height: calc((2rem + 2.667px) * 5);
  overflow-y: scroll;
  scroll-snap-stop: always;
  position: absolute;
  z-index: 2;
}
.autocomplete-items div {
  width: 48vw;
  cursor: pointer;
  color: #d64137;
  background-color: #fff;
  border-bottom: 3px solid #d64137;
  border-right: 3px solid #d64137;
  border-left: 3px solid #d64137;
  z-index: 3;
  line-height: 2rem;
  height: 2rem;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
label {
  font-size: calc(2vw + 2vh);
  text-align: center;
  color: #d64137;
}

/* Circle design */

.circle {
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 0.3),
    inset 10px 10px 20px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
}

.circle:hover {
  box-shadow: inset -10px -10px 20px rgb(0, 0, 0);
  transform: scale(1.2);
}

.largec {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.1rem;
  background-color: transparent;
  background: radial-gradient(circle at 30% 30%, #ff4d4d, #7c0101);
}
.smallc {
  width: 3rem;
  height: 3rem;
  margin-top: 1.1rem !important;
}

/* Buttons */
button {
  padding: 0 !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
}
.button {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.button:focus {
  transform: scale(1.1);
}
.back {
  background-color: #212475;
  width: 5vw !important;
  top: 5vh;
  left: 0px;
  opacity: 1 !important;
}
/* Discomfort */

.disc {
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: inset 10px 10px 30px rgba(255, 255, 255, 0.406);
  width: 44vw;
  transform-origin: center;
  height: 2rem;
  margin: 0px 2vw 10px 2vw;
  line-height: 2rem;
  font-size: calc(1vw + 1vh);
  text-align: center;
  font-weight: 600;
  transition: box-shadow 0.4s ease-in-out, transform 0.5s ease-in-out !important;
}
.disc:hover {
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.452);
}
.disc:focus {
  box-shadow: inset 0px 0px 40px rgb(0, 0, 0);
}
.od {
  position: relative;
}
/* Submits */

.submit {
  border: 3px solid #d64137;
  background-color: #fff;
  color: #d64137;
  padding: 5px 0 5px 0;
  font-size: calc(1vw + 1vh);
  width: 20vw;
  outline: hidden;
  margin-left: 15vw;
}

/* Colors */

.yellow {
  background: radial-gradient(circle at 30% 30%, #de9e36, #de9e36);
  border: none;
  margin-top: 10px;
}

.red {
  background: radial-gradient(circle at 30% 30%, #ca3c25, #ca3c25);
  border: none;
}
.purple {
  background: radial-gradient(circle at 30% 30%, #701d52, #701d52);
  border: none;
}
.blue {
  background: radial-gradient(circle at 30% 30%, #212475, #212475);
  border: none;
}
.black {
  background: radial-gradient(circle at 30% 30%, #1d1a05, #1d1a05);
  border: none;
}
/* Map */

#map {
  margin: auto;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-left: -25vw;
}
